{% extends "template.html" %}

{% block content %}
	
	<h1>List of unused band names</h1>
	<small class="text-muted">For groups with no band names!</small>
	
	<body>
		<ul>
			<li>Danish Plato</li>
			<li>Watchers From the Blind</li>
			<li>P Test</li>
			<li>Duodnym Duo</li>
			<li>Same To You Bud</li>
			<li>Why You I Oughtta</li>
			<li>George LeRoy Tirebiter</li>
			<li>Logan’s Sun</li>
			<li>Rizzuto’s Revenge</li>
			<li>The Hell You Say</li>
			<li>Schwing Kings of Bling</li>
			<li>Aiiieeeggg!</li>
			<li>Manos Hand of Fate</li>
			<li>Zoey Loves Zeus</li>
			<li>Aaark Aaark</li>
			<li>The Steekin Badgers</li>
			<li>There’s No Need To Fear</li>
			<li>Restless Natives</li>
			<li>Nightmare Feet</li>
			<li>My Fellow Terrariums</li>
			<li>Pudding Pipers</li>
		</ul>
		<a href="http://www.sandiegoreader.com/weblogs/bands/2009/mar/21/saturday-round-town-plus-150-free-unused-band3be31/">More names here</a>
	</body>



{% endblock %}