<!-- Starts with the template -->
{% extends "template.html" %}

<!-- Fills in everything below in the empty space -->
{% block content %}
<body>
    <h1>MedleyDB Manager</h1> 
    <img src="/static/home.jpg" alt="MedleyDB" style="width:860px;height:500px;">
    
    <h2>What do we do?</h2>
        <p> 
        The lifecycle of a multitrack is as follows:
        <ol>
            <li>Request to record a multitrack</li>
            <li>Request is approved and recording session is scheduled</li>
            <li>Recording session occurs</li>
            <li>Track gets mixed</li>
            <li>Track gets exported</li>
            <li>Track gets run through multitrack app</li>
            <li>Track is added to database</li>
        </ol>
        In the process of transforming a dry recording from the studio into a multitrack, things like requests to record or individual multitracks can easily be lost through miscommunication or long chains of emails. For example, a multitrack may be recorded but not mixed, or mixed but not exported. <br></br> 
       
        This website is a manager for all multitracks that are recorded in Dolan and creates a "ticket" for each session to make it easier to view the status and information about a multitrack. Information includes details about the individual session and the people involved, as well as the individual multitracks recorded. Users are able to request a recording session, create a new "ticket", and view all active tickets. 
        

        </p>
{% endblock %}