<!-- Starts with the template -->
{% extends "template.html" %}

<!-- Fills in everything below in the empty space -->
{% block content %}
<body>
    <h1>MedleyDB Manager</h1> 
    <img src="/static/home.jpg" alt="MedleyDB" style="width:860px;height:500px;">
    
    <h2>What do we do?</h2>
        <p>This website enables you to request a recording session, create a new "ticket" for a multitrack, and view all active tickets. A ticket is a tracking tag on a multitrack as it starts from dry multitrack stems from a recording studio and becomes a multitrack. The lifecycle of a multitrack is as follows:
        <ol>
            <li>Request to record a multitrack</li>
            <li>Request is approved and recording session is scheduled</li>
            <li>Recording session occurs</li>
            <li>Track gets mixed</li>
            <li>Track gets exported</li>
            <li>Track gets run through multitrack app</li>
            <li>Track is added to database</li>
        </ol>

        </p>
{% endblock %}