<!-- Starts with the template -->
{% extends "template.html" %}

<!-- Fills in everything below in the empty space -->
{% block content %}
<body>
    <h1>MedleyDB Manager</h1> 
    <img src="/static/home.jpg" alt="MedleyDB" style="width:860px;height:500px;">
    
    <h2>MedleyDB Manager: Make Tracking Multitracks Easy</h2>

        <p> 
        The otherwise messy task of collecting and managing multitracks is simplified by <font color="purple">MedleyDB Manager!</font> This collaborative website creates a "ticket" for each recording session. 
        </br>
        The lifecycle of a multitrack is as follows:
        <ol>
            <li>Request to record a multitrack</li>
            <li>Request is approved and recording session is scheduled</li>
            <li>Recording session occurs</li>
            <li>Track gets mixed</li>
            <li>Track gets exported</li>
            <li>Track gets run through multitrack app</li>
            <li>Track is added to database</li>
        </ol>
        Each ticket includes details about the recording session, the individual multitracks recorded in the session, as well as the people involved at each stage. Users can request a recording session or create a new ticket depending on the status of the multitracks. Existing tickets can be viewed, edited and kept track of on a consolidated table. Appropriate people can be contacted if questions or problems arise. 
        </br></br>
        <form action="/viewtickets">
            <input type="submit" value="View All Tickets" class="btn btn-primary">
        </form>
        </br>
        <form action="/newticket">
            <input type="submit" value="Create a New Ticket" class="btn btn-primary">
        </form>
        </br>
        <form action="/requestrecord">
            <input type="submit" value="Request a Recording Session" class="btn btn-primary">
        </form>

    <h2>Creators</h2>
        <p>
        Website created by Hanna Yip as well as Rachel Bittner (2016)
        </p>
{% endblock %}