<!-- Starts with the template -->
{% extends "template.html" %}

{% block content %}

    	<h1>Multitrack Processing Instructions</h1>
    	<h3>Forms and Junk</h3>
    		<ol>
			  <li>If appropriate, ask the folks you are recording if they are willing to let you use their track/s for Medley, and if they agree have them fill out the forms.</li>
			  <li>Save a copy of their session to the folder MedleyDB/Unprocessed on the server SIXSERVE2/mtechxsan.</li>
			  <li>Somewhere in that session, save a copy of the metadata form they filled out.</li>
			</ol>
		<h3>Mixing</h3>
			<ol>
				<li>Pick a session from the Unprocessed folder, mix it to your heart's content, and then bounce + process it. </li>
				<li>Once you've done that, change the color of the session's folder to green.</li>
			</ol>
		<h3>Bouncing</h3>
			<small class="text-muted">Bounce all audio to 44.1kHz, 16 bit .wav files. </small>
			<ol>
				<li>Make a new folder. Within that folder create a folder called "stems"and a folder called "raw".</li>
				<li>Select the mix region (this never changes for the rest of the steps!). All bouncing below should be bouncing the same region.</li>
				<li>Bounce the mix to a stereo track and save it to the folder.</li>
				<li>Decide how to group the stems into the most logical groupings based on instrument.</li>
				<li>Bounce each of the stems to a stereo track with all plugins active. Save everything to the "stems" folder. Name each of them something that you'll remember (eg. volin1.wav, violin2.wav, cello.wav)</li>
				<li>Bounce each of the "raw" tracks (only the ones actually used!) to a mono audio file and save them to the raw folder. If it was recorded as stereo, bounce to multiple mono. Name them based on what instrument they get used for (e.g. violin1-1.wav, violin1-2.wav etc). Make sure all plugins are inactive except any delays used for time alignment. </li>
			</ol>

{% endblock %}