<!-- Starts with the template -->
{% extends "template.html" %}

<!-- Fills in everything below in the empty space -->
{% block content %}

<h1 class="sub-header">More Information About Multitrack {{ multitrack_id }} </h1>

      <div class="table-responsive">
        <h3>Multitrack Current Status</h3>

        <table class="table">
          <thead>
            {% for col in range(formatted_multitrack_status_headers|count) %}
                <th>{{ formatted_multitrack_status_headers[col] }}</th>
            {% endfor %}
          </thead>
          <tbody>
            {% for row_index in range(multitrack_status['multitrack_id']|count) %}
                <tr>
                  {% for col in range(db_multitrack_status_headers |count) %}
                    <td>{{ multitrack_status[db_multitrack_status_headers[col]][row_index] }}</td>
                  {% endfor %}
                </tr>
            {% endfor %}
          </tbody>
        </table>

      </div>

      <div class="table-responsive">
        <h3>Multitrack History</h3>

        <table class="table">
          <thead>
            {% for col in range(formatted_multitrack_history_headers|count) %}
                <th>{{ formatted_multitrack_history_headers[col] }}</th>
            {% endfor %}
          </thead>
          <tbody>
            {% for row_index in range(db_multitrack_history_headers['multitrack_id']|count) %}
                <tr>
                  {% for col in range(db_multitrack_history_headers|count) %}
                    <td>{{ multitrack_history[db_multitrack_history_headers[col]][row_index] }}</td>
                  {% endfor %}
                </tr>
            {% endfor %}
          </tbody>
        </table>

      </div>






{% endblock %}