<!-- Starts with the template -->
{% extends "template.html" %}

{% block content %}

  <form data-toggle="validator" role="form" id='newTicket' topmargin="50" leftmargin="50" marginheight="50" marginwidth="50">

      <h1 class="sub-header">Sign Up for a New Ticket</h1>
      <p class="text-muted">Only fill this out if your request to record has been approved. Fill in the parts of the form that apply.</p>

      <fieldset class="form-group">
        <label for="exampleInputDate1">Ticket Name</label>
        <input type="text" class="form-control" id="ticket_name" placeholder="Ticket Name" required>
        <div class="help-block with-errors"></div>
      </fieldset>
      <fieldset class="form-group">
        <label for="exampleSelect1">Status of ticket</label>
        <select class="form-control" id="status" required>
          <option value="" disabled selected>Select your option</option>
          <option>Requested</option>
          <option>Scheduled</option>
          <option>Recorded</option>
          <option>Mixed</option>
          <option>Bounced</option>
          <option>Processed</option>
          <option>Complete</option>
        </select>
        <div class="help-block with-errors"></div>
      </fieldset>

      <h3 class="sub-header">Your Information</h3>
      <fieldset class="form-group">
        <label for="exampleInputName1">Full Name</label>
        <input type="text" class="form-control" id="your_name" placeholder="Full name" required>
        <div class="help-block with-errors"></div>
      </fieldset>
      <fieldset class="form-group">
        <label for="exampleInputEmail1">Your Email Address</label>
        <input type="email" class="form-control" id="your_email" placeholder="Enter email" required>
        <div class="help-block with-errors"></div>
      </fieldset>
      <fieldset class="form-group">
        <label for="exampleSelect1">Who are you?</label>
        <select class="form-control" id="you" required>
          <option value="" disabled selected>Select your option</option>
          <option>NYU Student</option>
          <option>NYU Faculty</option>
          <option>Affiliate</option>
          <option>External</option>
        </select>
        <div class="help-block with-errors"></div>
      </fieldset>
      <fieldset class="form-group">
        <label for="exampleInputName1">Full name of person you are in contact with at NYU</label>
        <input type="text" class="form-control" id="contact_name" placeholder="Full name" required>
        <div class="help-block with-errors"></div>
      </fieldset>
      <fieldset class="form-group">
        <label for="exampleInputEmail1">Email address of person you are in contact with at NYU</label>
        <input type="email" class="form-control" id="contact_email" placeholder="Enter email" required>
        <div class="help-block with-errors"></div>
        <small class="text-muted">Required for non-NYU people, optional for others.</small>
      </fieldset>

      <h3 class="sub-header">Recording session</h3>
      <fieldset class="form-group">
        <label for="exampleInputDate1">Session date</label>
        <input type="date" class="form-control" id="session_date" placeholder="MM/DD/YY" required>
        <div class="help-block with-errors"></div>
      </fieldset>
      <fieldset class="form-group">
        <label for="exampleInputFirstName1">Engineer's Name</label>
        <input type="text" class="form-control" id="engineer_name" placeholder="Engineer's name" required>
        <div class="help-block with-errors"></div>
      </fieldset>
      <fieldset class="form-group">
        <label for="exampleInputEmail1">Engineer's Email Address</label>
        <input type="email" class="form-control" id="engineer_email" placeholder="Enter email" required>
        <div class="help-block with-errors"></div>
      </fieldset>
      <fieldset class="form-group">
        <label for="exampleInputFirstName1">Creator's Name</label>
        <input type="text" class="form-control" id="creator_name" placeholder="Creator's name" required>
        <div class="help-block with-errors"></div>
      </fieldset>
      <fieldset class="form-group">
        <label for="exampleInputEmail1">Creator's Email Address</label>
        <input type="email" class="form-control" id="creator_email" placeholder="Enter email" required>
        <div class="help-block with-errors"></div>
      </fieldset>
      <fieldset class="form-group">
        <label for="exampleInputFirstName1">Assignee's Name</label>
        <input type="text" class="form-control" id="assignee_name" placeholder="Assignee's name" required>
        <div class="help-block with-errors"></div>
      </fieldset>
      <fieldset class="form-group">
        <label for="exampleInputEmail1">Assignee's Email Address</label>
        <input type="email" class="form-control" id="assignee_email" placeholder="Enter email" required>
        <div class="help-block with-errors"></div>
      </fieldset>
      <fieldset class="form-group">
        <label for="exampleSelect1">Number of songs recorded to turn into multitracks</label>
        <select class="form-control" id="num_multitracks" required>
          <option value="" disabled selected>Select your option</option>
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
          <option>6</option>
          <option>7</option>
          <option>8</option>
          <option>9</option>
          <option>10</option>
        </select>
        <div class="help-block with-errors"></div>
      </fieldset>

      <h3 class="sub-header">Mixing and beyond</h3>
      <fieldset class="form-group">
        <label for="exampleInputFirstName1">Mixing Engineer's Name</label>
        <input type="text" class="form-control" id="mixer_name" placeholder="Engineer's name">
      </fieldset>
      <fieldset class="form-group">
        <label for="exampleInputEmail1">Mixing Engineer's Email Address</label>
        <input type="email" class="form-control" id="mixer_email" placeholder="Enter email">
      </fieldset>
      <fieldset class="form-group">
        <label for="exampleInputFirstName1">Bouncing's Name</label>
        <input type="text" class="form-control" id="bouncer_name" placeholder="Bouncer's name">
      </fieldset>
      <fieldset class="form-group">
        <label for="exampleInputEmail1">Bouncer's Email Address</label>
        <input type="email" class="form-control" id="bouncer_email" placeholder="Enter email">
      </fieldset>
      <fieldset class="form-group">
        <label for="exampleInputDate1">Date tracks were mixed</label>
        <input type="date" class="form-control" id="mixed_date" placeholder="MM/DD/YY">
      </fieldset>
      <fieldset class="form-group">
        <label for="exampleInputName1">Location of track post-mixing</label>
        <input type="text" class="form-control" id="location_mixed" placeholder="Location">
      </fieldset>
      <fieldset class="form-group">
        <label for="exampleInputName1">Location of track post-exporting</label>
        <input type="text" class="form-control" id="location_exported" placeholder="Location">
      </fieldset>
      <fieldset class="form-group">
        <label for="exampleInputFirstName1">Name of person running multitrack through app</label>
        <input type="text" class="form-control" id="running_name" placeholder="Name">
      </fieldset>
      <fieldset class="form-group">
        <label for="exampleInputEmail1">Description of music</label>
        <input type="text" class="form-control" id="genre" placeholder="ex: classical, pop, rap, jazz">
      </fieldset>
      <fieldset class="form-group">
          <label for="exampleTextarea">Additional Comments</label>
          <textarea class="form-control" id="comments" rows="3"></textarea>
      </fieldset>
  <body>
    <button id="submitNewTicket" type="submit" class="btn btn-primary">Next</button>
  </body>
         
</form>



{% endblock %}


