{% extends "template.html" %}

{% block content %}

<form>
<h1> Multitrack Information </h1>

{% for i in range(num_multitracks) %}
<h3 class="sub-header">Multitrack {{ i+1 }}</h3>
      <fieldset class="form-group">
        <label for="exampleInputNames1">Name of Multitrack</label>
        <input type="number" class="form-control" id="multitrack_name" placeholder="Name of multitrack">
      </fieldset>
      <fieldset class="form-group">
        <label for="exampleInputFirstName1">Track ID</label>
        <input type="name" class="form-control" id="multitrack_id" placeholder="Track ID">
      </fieldset>
      <fieldset class="form-group">
        <label for="exampleInputName1">Artist Name</label>
        <input type="name" class="form-control" id="artist_name" placeholder="Artist name">
      </fieldset>
      <fieldset class="form-group">
        <label for="exampleInputName1">Start time</label>
        <input type="name" class="form-control" id="start_time" placeholder="Start time">
      </fieldset>
      <fieldset class="form-group">
        <label for="exampleInputName1">End time</label>
        <input type="name" class="form-control" id="end_time" placeholder="End time">
      </fieldset>
{% endfor %}

<button type="button" onclick="getNewMultitrackInput()">Submit Request for a New Ticket</button>

{% endblock %}