<!-- Starts with the template -->
{% extends "template.html" %}

{% block content %}

  <form id='newticket' topmargin="50" leftmargin="50" marginheight="50" marginwidth="50">
      <h1 class="sub-header">Sign Up for a New Ticket</h1>
      <p class="text-muted">Only fill this out if your request to record has been approved. Fill in the parts of the form that apply.</p>
      <fieldset class="form-group">
        <label for="exampleInputDate1">Ticket Name</label>
        <input type="date" class="form-control" id="ticket_name" placeholder="MM/DD/YY">
      </fieldset>
      <fieldset class="form-group">
        <label for="exampleSelect1">Status of ticket</label>
        <select class="form-control" id="status">
          <option selected="selected">Requested</option>
          <option>Scheduled</option>
          <option>Recorded</option>
          <option>Mixed</option>
          <option>Bounced</option>
          <option>Processed</option>
          <option>Complete</option>
        </select>
      </fieldset>
      <h3 class="sub-header">Recording session</h3>
      <fieldset class="form-group">
        <label for="exampleInputDate1">Session date</label>
        <input type="date" class="form-control" id="session_date" placeholder="MM/DD/YY">
      </fieldset>
      <fieldset class="form-group">
        <label for="exampleInputFirstName1">Engineer's Name</label>
        <input type="name" class="form-control" id="engineer_name" placeholder="Engineer's name">
      </fieldset>
      <fieldset class="form-group">
        <label for="exampleInputEmail1">Engineer's Email Address</label>
        <input type="email" class="form-control" id="engineer_email" placeholder="Enter email">
      </fieldset>
      <fieldset class="form-group">
        <label for="exampleInputFirstName1">Creator's Name</label>
        <input type="name" class="form-control" id="creator_name" placeholder="Creator's name">
      </fieldset>
      <fieldset class="form-group">
        <label for="exampleInputEmail1">Creator's Email Address</label>
        <input type="email" class="form-control" id="creator_email" placeholder="Enter email">
      </fieldset>
      <fieldset class="form-group">
        <label for="exampleInputFirstName1">Assignee's Name</label>
        <input type="name" class="form-control" id="assignee_name" placeholder="Assignee's name">
      </fieldset>
      <fieldset class="form-group">
        <label for="exampleInputEmail1">Assignee's Email Address</label>
        <input type="email" class="form-control" id="assignee_email" placeholder="Enter email">
      </fieldset>

      <h3 class="sub-header">Mixing and beyond</h3>
      <fieldset class="form-group">
        <label for="exampleInputFirstName1">Full name of mixing engineer</label>
        <input type="name" class="form-control" id="mixer_name" placeholder="Engineer's name">
      </fieldset>
      <fieldset class="form-group">
        <label for="exampleInputEmail1">Mixing Engineer's Email Address</label>
        <input type="email" class="form-control" id="mixer_email" placeholder="Enter email">
      </fieldset>
      <fieldset class="form-group">
        <label for="exampleInputDate1">Date tracks were mixed</label>
        <input type="date" class="form-control" id="mixed_date" placeholder="MM/DD/YY">
      </fieldset>
      <fieldset class="form-group">
        <label for="exampleInputName1">Location of track post-mixing</label>
        <input type="name" class="form-control" id="location_mixed" placeholder="Location">
      </fieldset>
      <fieldset class="form-group">
        <label for="exampleInputName1">Location of track post-exporting</label>
        <input type="name" class="form-control" id="location_exported" placeholder="Location">
      </fieldset>
      <fieldset class="form-group">
        <label for="exampleInputFirstName1">Name of person running multitrack through app</label>
        <input type="name" class="form-control" id="running_name" placeholder="Name">
      </fieldset>
      
      <fieldset class="form-group">
        <label for="exampleInputEmail1">Description of music</label>
        <input type="email" class="form-control" id="genre" placeholder="ex: classical, pop, rap, jazz">
      </fieldset>
      <fieldset class="form-group">
        <label for="exampleSelect1">Number of songs recorded to turn into multitracks</label>
        <select class="form-control" id="num_multitracks">
          <option value="1" selected="selected">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
        </select>
      </fieldset>
      <fieldset class="form-group">
          <label for="exampleTextarea">Additional Comments</label>
          <textarea class="form-control" id="comments" rows="3"></textarea>
      </fieldset>
         
</form>

  <body>
    <button id="submitNewTicket" type="button">Next</button>
  </body>

{% endblock %}


