<!-- Starts with the template -->
{% extends "template.html" %}

{% block content %}

  <form id='newticket' topmargin="50" leftmargin="50" marginheight="50" marginwidth="50">
      <h1 class="sub-header">Sign Up for a New Ticket</h1>
      <small class="text-muted">Only fill this out if your request to record has been approved. Fill in the parts of the form that apply.</small>

      <h3 class="sub-header">Recording session</h3>
      <fieldset class="form-group">
        <label for="exampleInputDate1">Session date</label>
        <input type="date" class="form-control" id="exampleInputDate1" placeholder="MM/DD/YY">
      </fieldset>
      <fieldset class="form-group">
        <label for="exampleInputFirstName1">Engineer's Name</label>
        <input type="name" class="form-control" id="exampleInputName1" placeholder="Engineer's name">
      </fieldset>
      <fieldset class="form-group">
        <label for="exampleInputEmail1">Engineer's Email Address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
      </fieldset>
      <fieldset class="form-group">
        <label for="exampleInputFirstName1">Creator's</label>
        <input type="name" class="form-control" id="exampleInputName1" placeholder="Creator's name">
      </fieldset>
      <fieldset class="form-group">
        <label for="exampleInputEmail1">Creator's Email Address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
      </fieldset>
      <fieldset class="form-group">
        <label for="exampleInputFirstName1">Assignee's Name</label>
        <input type="name" class="form-control" id="exampleInputName1" placeholder="Assignee's name">
      </fieldset>
      <fieldset class="form-group">
        <label for="exampleInputEmail1">Assignee's Email Address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
      </fieldset>

<!-- THIS HAS TO BE DEPENDENT OF NUMBER OF MULTITRACKS -->
      <h3 class="sub-header">Multitrack</h3>
      <fieldset class="form-group">
        <label for="exampleInputNames1">Names of Multitrack</label>
        <input type="number" class="form-control" id="exampleInputNumber1" placeholder="Name of multitrack">
      </fieldset>
      <fieldset class="form-group">
        <label for="exampleInputFirstName1">Track ID's</label>
        <input type="name" class="form-control" id="exampleInputName1" placeholder="Track ID">
      </fieldset>
      </fieldset>
      <fieldset class="form-group">
        <label for="exampleInputName1">Artist Name</label>
        <input type="name" class="form-control" id="exampleInputName1" placeholder="Artist name">
      </fieldset>
            <fieldset class="form-group">
        <label for="exampleInputName1">Start time</label>
        <input type="name" class="form-control" id="exampleInputName1" placeholder="Start time">
      </fieldset>
      <fieldset class="form-group">
        <label for="exampleInputName1">End time</label>
        <input type="name" class="form-control" id="exampleInputName1" placeholder="End time">
      </fieldset>

      <h3 class="sub-header">Mixing and beyond</h3>
      <fieldset class="form-group">
        <label for="exampleInputFirstName1">Full name of mixing engineer</label>
        <input type="name" class="form-control" id="exampleInputName1" placeholder="Engineer's name">
      </fieldset>
      <fieldset class="form-group">
        <label for="exampleInputEmail1">Mixing Engineer's Email Address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
      </fieldset>
      <fieldset class="form-group">
        <label for="exampleInputDate1">Date tracks were mixed</label>
        <input type="date" class="form-control" id="exampleInputDate1" placeholder="MM/DD/YY">
      </fieldset>
      <fieldset class="form-group">
        <label for="exampleInputName1">Location of track post-mixing</label>
        <input type="name" class="form-control" id="exampleInputName1" placeholder="Location">
      </fieldset>
      <fieldset class="form-group">
        <label for="exampleInputName1">Location of track post-exporting</label>
        <input type="name" class="form-control" id="exampleInputName1" placeholder="Location">
      </fieldset>
      <fieldset class="form-group">
        <label for="exampleInputFirstName1">Name of person running multitrack through app</label>
        <input type="name" class="form-control" id="exampleInputName1" placeholder="Name">
      </fieldset>
      <fieldset class="form-group">
          <label for="exampleTextarea">Additional Comments</label>
          <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
       </fieldset>
         
      <a href="javascript: submitform()">Submit request for new ticket</a>
  </form>

  <script type="text/javascript">
  function submitform()
    {document.newticket.submit();}
  </script>


{% endblock %}