{% extends "template.html" %}

{% block content %}

  <form id='newticket' topmargin="50" leftmargin="50" marginheight="50" marginwidth="50">
      <h1 class="sub-header">Request a Recording Session</h1>

    <!-- YOUR INFORMATION -->
      <h3 class="sub-header">Your Information</h3>
      <fieldset class="form-group">
        <label for="exampleInputName1">Full Name</label>
        <input type="name" class="form-control" id="exampleInputName1" placeholder="Full name">
      </fieldset>
      <fieldset class="form-group">
        <label for="exampleInputEmail1">Your Email Address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
      </fieldset>
      <fieldset class="form-group">
        <label for="exampleSelect1">Who are you?</label>
        <select class="form-control" id="exampleSelect1">
          <option>NYU Student</option>
          <option>NYU Faculty</option>
          <option>Affiliate</option>
          <option>External</option>
        </select>
      </fieldset>
      <fieldset class="form-group">
        <label for="exampleInputEmail1">Email address of person you are in contact with at NYU</label>
        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
        <small class="text-muted">Required for non-NYU people, optional for others.</small>
      </fieldset>
      <fieldset class="form-group">
        <label for="exampleInputName1">Full name of person you are in contact with at NYU</label>
        <input type="name" class="form-control" id="exampleInputName1" placeholder="Full name">
      </fieldset>

      <h3 class="sub-header">Recording Session</h3>
      <iframe src="https://calendar.google.com/calendar/embed?showPrint=0&amp;showTabs=0&amp;mode=WEEK&amp;height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;src=u6qidgtaac2eitnkgp34hblevo%40group.calendar.google.com&amp;color=%2342104A&amp;ctz=America%2FNew_York" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
      <fieldset class="form-group">
        <label for="exampleInputDate1">Date and time availability: first choice</label>
        <input type="date" class="form-control" id="exampleInputDate1" placeholder="MM/DD/YY">
      </fieldset>
      <fieldset class="form-group">
        <label for="exampleInputDate1">Date and time availability: second choice</label>
        <input type="date" class="form-control" id="exampleInputDate1" placeholder="MM/DD/YY">
      </fieldset>
      <fieldset class="form-group">
        <label for="exampleInputDate1">Date and time availability: third choice</label>
        <input type="date" class="form-control" id="exampleInputDate1" placeholder="MM/DD/YY">
      </fieldset>
      <fieldset class="form-group">
        <label for="exampleSelect1">Number of studio hours needed</label>
        <select class="form-control" id="exampleSelect1">
          <option>2</option>
          <option>4</option>
          <option>6</option>
          <option>8</option>
          <option>10</option>
        </select>
      </fieldset>
      <fieldset class="form-group">
        <label for="exampleSelect1">Expected number of songs</label>
        <select class="form-control" id="exampleSelect1">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
          <option>6</option>
          <option>7</option>
          <option>8</option>
          <option>9</option>
          <option>10</option>
          <option>10+</option>
        </select>
      </fieldset>
      <fieldset class="form-group">
        <label for="exampleSelect1">Genre of music</label>
        <select class="form-control" id="exampleSelect1">
          <option>Singer/Songwriter</option>
          <option>Classical</option>
          <option>Rock</option>
          <option>World/Folk</option>
          <option>Fusion</option>
          <option>Jazz</option>
          <option>Pop</option>
          <option>Musical theatre</option>
          <option>Rap</option>
        </select>
      </fieldset>

      <h4>Instrumentation<br />
        <small class="text-muted">Select all the instruments used in the songs.</small>
      </h4>
      <div class="checkbox">
        <label>
          <input type="checkbox"> Piano
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox"> Guitar
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox"> Drums
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox"> Bass
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox"> Vocals
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox"> Violin
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox"> Viola
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox"> Cello
        </label>
      </div>

      <h4> Create commons consent form:</h4>
        <body><a href="/static/Description_Forms_NYU_student.pdf">For NYU Students</a> <br /> <a href="/static/Description_forms_general.pdf">For non-students</a>
        </body>

  </form>
  {% endblock %}
