{% extends "template.html" %}

{% block content %}

  <h1 class="sub-header">Request a Recording Session</h1>

  <!-- YOUR INFORMATION -->
  <form data-toggle="validator" role="form" id="requestrecord">
    
    <fieldset class="form-group">
      <label for="exampleInputName1">Full Name</label>
      <input type="text" class="form-control" id="your_name" placeholder="Full name" data-error="Please fill out this field" required>
      <div class="help-block with-errors"></div>
    </fieldset>
    <fieldset class="form-group">
      <label for="exampleInputEmail1">Your Email Address (Must be NYU email)</label>
      <input type="email" pattern="[a-z0-9._%+-]+@nyu.edu$" class="form-control" id="your_email" placeholder="Enter email" data-error="Please fill out this field" required>
    </fieldset>
    <h3 class="sub-header">Recording Session</h3>
    <iframe src="https://calendar.google.com/calendar/embed?showPrint=0&amp;showTabs=0&amp;mode=WEEK&amp;height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;src=u6qidgtaac2eitnkgp34hblevo%40group.calendar.google.com&amp;color=%2342104A&amp;ctz=America%2FNew_York" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
    <fieldset class="form-group">
      <label for="exampleInputDate1">Date availability: first choice</label>
      <input type="date" class="form-control" id="record_date1" placeholder="MM/DD/YY" required>
      <div class="help-block with-errors"></div>
    </fieldset>
    <fieldset class="form-group">
      <label for="exampleInputDate1">Date availability: second choice</label>
      <input type="date" class="form-control" id="record_date2" placeholder="MM/DD/YY" required>
      <div class="help-block with-errors"></div>
    </fieldset>
    <fieldset class="form-group">
      <label for="exampleInputDate1">Date availability: third choice</label>
      <input type="date" class="form-control" id="record_date3" placeholder="MM/DD/YY" required>
      <div class="help-block with-errors"></div>
    </fieldset>
    <fieldset class="form-group">
      <label for="exampleSelect1">Number of studio hours needed</label>
      <select class="form-control" id="hours_needed" required="">
        <option value="" disabled selected>Select your option</option>
        <option>2</option>
        <option>4</option>
        <option>6</option>
        <option>8</option>
        <option>10</option>
      </select>
      <div class="help-block with-errors"></div>
    </fieldset>
    <fieldset class="form-group">
      <label for="exampleSelect1">Number of songs recorded to turn into multitracks</label>
      <select class="form-control" id="num_multitracks" required>
        <option value="" disabled selected>Select your option</option>
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
        <option>6</option>
        <option>7</option>
        <option>8</option>
        <option>9</option>
        <option>10</option>
      </select>
      <div class="help-block with-errors"></div>
    </fieldset>
    <fieldset class="form-group">
        <label for="exampleSelect1">Genre</label>
        <select class="form-control" id="genre">
          <option value="" disabled selected>Select your option</option>
          <option>Singer/songwriter</option>
          <option>Rock</option>
          <option>Classical</option>
          <option>Jazz</option>
          <option>Electronic/Fusion</option>
          <option>World/Folk</option>
          <option>Musical Theatre</option>
          <option>Rap</option>
          <option>Pop</option>
        </select>
      </fieldset>
    <fieldset class="form-group">
        <label for="exampleTextarea">Additional Comments</label>
        <textarea class="form-control" id="comments" rows="3"></textarea>
    </fieldset>


    <button id="submitRequest" type="submit" class="btn btn-primary">Submit</button>
</form>
  {% endblock %}
