<!-- Starts with the template -->
{% extends "template.html" %}

<!-- Fills in everything below in the empty space -->
{% block content %}
<h1 class="sub-header">More Information About Ticket {{ ticket_id }} </h1>
      <div class="table-responsive">
        <h3>Current status of ticket</h3>

        <table class="table">
          <thead>
            {% for col in range(formatted_ticket_status_headers|count) %}
                <th>{{ formatted_ticket_status_headers[col] }}</th>
            {% endfor %}
          </thead>
          <tbody>
            {% for row_index in range(tickets['ticket_number']|count) %}
                <tr>
                  {% for col in range(db_ticket_status_headers|count) %}
                    <td>{{ tickets[db_ticket_status_headers[col]][row_index] }}</td>
                  {% endfor %}
                </tr>
            {% endfor %}
          </tbody>
        </table>

      </div>

      <div class="table-responsive">
        <h3>Ticket History</h3>
        <table class="table">
          <thead>
            {% for col in range(formatted_ticket_history_headers|count) %}
                <th>{{ formatted_ticket_history_headers[col] }}</th>
            {% endfor %}
          </thead>
          <tbody>
            {% for row_index in range(ticket_history['ticket_number']|count) %}
                <tr>
                  {% for col in range(db_ticket_history_headers|count) %}
                    <td>{{ ticket_history[db_ticket_history_headers[col]][row_index] }}</td>
                  {% endfor %}
                </tr>
            {% endfor %}
          </tbody>
        </table>

      </div>

      <div class="table-responsive">
        <h3>Multitracks in this ticket</h3>
        <table class="table">
          <thead>
                <th></th>
            {% for col in range(formatted_multitracks_in_ticket_headers|count) %}
                <th>{{ formatted_multitracks_in_ticket_headers[col] }}</th>
            {% endfor %}
          </thead>
          <tbody>
            {% for row_index in range(multitracks_in_ticket['ticket_number']|count) %}
                <tr>
                    <td><a href="{{ multitracks_in_ticket["url"][row_index] }}">View Multitrack</a></td>
                  {% for col in range(db_multitracks_in_ticket_headers|count) %}
                    <td>{{ multitracks_in_ticket[db_multitracks_in_ticket_headers[col]][row_index] }}</td>
                  {% endfor %}
                </tr>
            {% endfor %}
          </tbody>
        </table>

      </div>

{% endblock %}