<!-- Starts with the template -->
{% extends "template.html" %}

<!-- Fills in everything below in the empty space -->
{% block content %}
<h1 class="sub-header">More Information About Ticket {{ ticket_number }} </h1>
      <div class="table-responsive">
        <h3>Current status of ticket</h3>

        <table class="table">
          <thead>
            {% for col in range(formatted_ticket_status_headers|count) %}
                <th>{{ formatted_ticket_status_headers[col] }}</th>
            {% endfor %}
          </thead>
          <tbody>
            {% for row_index in range(tickets['ticket_number']|count) %}
                <tr>
                  {% for col in range(db_ticket_status_headers|count) %}
                    <td>{{ tickets[db_ticket_status_headers[col]][row_index] }}</td>
                  {% endfor %}
                </tr>
            {% endfor %}
          </tbody>
        </table>

      </div>

      <div class="table-responsive">
        <h3>Ticket History</h3>
        <table class="table">
          <thead>
            {% for col in range(formatted_ticket_history_headers|count) %}
                <th>{{ formatted_ticket_history_headers[col] }}</th>
            {% endfor %}
          </thead>
          <tbody>
            {% for row_index in range(ticket_history['ticket_number']|count) %}
                <tr>
                  {% for col in range(db_ticket_history_headers|count) %}
                    <td>{{ ticket_history[db_ticket_history_headers[col]][row_index] }}</td>
                  {% endfor %}
                </tr>
            {% endfor %}
          </tbody>
        </table>

      </div>

      <div class="table-responsive">
        <h3>Multitracks in this ticket</h3>
        <table class="table">
          <thead>
                <th></th>
            {% for col in range(formatted_multitracks_headers|count) %}
                <th>{{ formatted_multitracks_headers[col] }}</th>
            {% endfor %}
                <th></th>
          </thead>
          <tbody>
            {% for row_index in range(multitracks['ticket_number']|count) %}
                <tr>
                    <td><a href="{{ multitracks["url"][row_index] }}">View Multitrack</a></td>
                  {% for col in range(db_multitracks_headers|count) %}
                    <td>{{ multitracks[db_multitracks_headers[col]][row_index] }}</td>
                  {% endfor %}
                    <td><a href="{{ multitracks["delete"][row_index] }}">Delete Multitrack</a></td>
                </tr>
            {% endfor %}
          </tbody>
        </table>

      </div>

<br/><br/>
 <form id='updateticket' topmargin="50" leftmargin="50" marginheight="50" marginwidth="50">
      <h1 class="sub-header">Update Ticket {{ ticket_number }} </h1>

      <fieldset class="form-group">
        <label for="exampleSelect1">Status of ticket</label>
        <select class="form-control" id="status">
          <option selected="selected">Requested</option>
          <option>Scheduled</option>
          <option>Recorded</option>
          <option>Mixed</option>
          <option>Bounced</option>
          <option>Processed</option>
          <option>Complete</option>
        </select>
      </fieldset>
      <fieldset class="form-group">
        <label for="exampleInputDate1">Ticket Name</label>
        <input type="text" class="form-control" id="ticket_name" placeholder="Ticket Name">
      </fieldset>
      <fieldset>
        <label for="exampleInputDate1">Session date</label>
        <input type="date" class="form-control" id="session_date" placeholder="MM/DD/YY">
      </fieldset>
      <fieldset class="form-group">
        <label for="exampleInputFirstName1">Engineer's Name</label>
        <input type="name" class="form-control" id="engineer_name" placeholder="Engineer's name">
      </fieldset>
      <fieldset class="form-group">
        <label for="exampleInputEmail1">Engineer's Email Address</label>
        <input type="email" class="form-control" id="engineer_email" placeholder="Enter email">
      </fieldset>
      <fieldset class="form-group">
        <label for="exampleInputFirstName1">Assignee's Name</label>
        <input type="name" class="form-control" id="assignee_name" placeholder="Assignee's name">
      </fieldset>
      <fieldset class="form-group">
        <label for="exampleInputEmail1">Assignee's Email Address</label>
        <input type="email" class="form-control" id="assignee_email" placeholder="Enter email">
      </fieldset>
      <fieldset class="form-group">
          <label for="exampleTextarea">Additional Comments</label>
          <textarea class="form-control" id="comments" rows="3"></textarea>
      </fieldset>
      
  <body>
    <button id="updateTicket" type="button">Update</button>
  </body>

</form>



{% endblock %}