{% extends "template.html" %}

{% block content %}


<form data-toggle="validator" role="form" id='addMultitrack'>
<h1> Add a Multitrack to Ticket {{ ticket_number }} </h1>
      <fieldset class="form-group">
        <label for="exampleInputName1">Title</label>
        <input type="text" class="form-control" id="title" placeholder="Multitrack title" required>
        <div class="help-block with-errors"></div>
      </fieldset>
      <fieldset class="form-group">
        <label for="exampleInputName1">Artist/Band Name</label>
        <input type="text" class="form-control" id="artist_name" placeholder="Artist name" required>
        <div class="help-block with-errors"></div>
      </fieldset>
      <fieldset class="form-group">
        <label for="exampleInputName1">Start time</label>
        <input type="text" class="form-control" id="start_time" placeholder="Start time" required>
        <div class="help-block with-errors"></div>
      </fieldset>
      <fieldset class="form-group">
        <label for="exampleInputName1">End time</label>
        <input type="text" class="form-control" id="end_time" placeholder="End time" required>
        <div class="help-block with-errors"></div>
      </fieldset>
      <fieldset class="form-group">
        <label for="exampleInputEmail1">Genre</label>
        <input type="text" class="form-control" id="genre" placeholder="ex: classical, pop, rap, jazz" required>
        <div class="help-block with-errors"></div>
      </fieldset>
      <fieldset class="form-group">
        <label for="exampleInputEmail1">Number of Instruments</label>
        <input type="text" class="form-control" id="num_instruments" placeholder="Number of Instruments" required>
        <div class="help-block with-errors"></div>
      </fieldset>


    <button id="addMultitrack" type="submit" class="btn btn-primary">Add Multitrack</button>
</form>

 {% endblock %}