<!-- Starts with the template -->
{% extends "template.html" %}

<!-- Fills in everything below in the empty space -->
{% block content %}
<h1 class="sub-header">More Information About Ticket {{ ticket_number }} </h1>

      <a class="btn btn-primary" href="/viewtickets"> <-- Back to All Tickets</a>

      <div class="table-responsive">
        <h3>Ticket Status</h3>

        <table class="table">
          <thead>
            {% for col in range(formatted_ticket_status_headers|count) %}
                <th>{{ formatted_ticket_status_headers[col] }}</th>
            {% endfor %}
          </thead>
          <tbody>
            {% for row_index in range(tickets['ticket_number']|count) %}
                <tr>
                  {% for col in range(ticket_status_headers|count) %}
                    <td>{{ tickets[ticket_status_headers[col]][row_index] }}</td>
                  {% endfor %}
                </tr>
            {% endfor %}
          </tbody>
        </table>

      </div>

      <div class="table-responsive">
        <h3>Update Ticket</h3>

        <table class="table">
          <thead>
            {% for col in range(formatted_ticket_status_headers|count) %}
                <th>{{ formatted_ticket_status_headers[col] }}</th>
            {% endfor %}
          </thead>
          <tbody>
            {% for row_index in range(tickets['ticket_number']|count) %}
                <tr>
                    <td>{{ tickets[ticket_status_headers[0]][row_index] }}</td>
                    <TD class = "select">
                        <select class="form-control" id="status">
                            <option value="" disabled selected>Select your option</option>
                            <option>Requested</option>
                            <option>Scheduled</option>
                            <option>Recorded</option>
                            <option>Mixed</option>
                            <option>Bounced</option>
                            <option>Processed</option>
                            <option>Complete</option>
                        </select>
                    </TD>
                    <TD ALIGN="left"><INPUT TYPE="text" SIZE="15" id="ticket_name">
                    </TD>
                    <td>{{ tickets[ticket_status_headers[3]][row_index] }}</td>
                    <td>{{ tickets[ticket_status_headers[4]][row_index] }}</td>
                    <td>{{ tickets[ticket_status_headers[5]][row_index] }}</td>
                    <TD class = "select">
                      <select class="form-control" id="genre">
                            <option value="" disabled selected>Select your option</option>
                            <option>Singer/songwriter</option>
                            <option>Rock</option>
                            <option>Classical</option>
                            <option>Jazz</option>
                            <option>Electronic/Fusion</option>
                            <option>World/Folk</option>
                            <option>Musical Theatre</option>
                            <option>Rap</option>
                            <option>Pop</option>
                      </select>
                    </TD>
                    <TD ALIGN="left"><input type="date" SIZE="10" id="session_date" placeholder="MM/DD/YY">
                    </TD>
                    <TD ALIGN="left"><INPUT TYPE="text" SIZE="15" id="your_name">
                    </TD>
                    <TD ALIGN="left"><INPUT TYPE="text" SIZE="15" id="your_email">
                    </TD>
                    <TD ALIGN="left"><INPUT TYPE="text" SIZE="15" id="engineer_name">
                    </TD>
                    <TD ALIGN="left"><INPUT TYPE="text" SIZE="15" id="engineer_email">
                    </TD>
                    <TD ALIGN="left"><INPUT TYPE="text" SIZE="15" id="assignee_name">
                    </TD>
                    <TD ALIGN="left"><INPUT TYPE="text" SIZE="15" id="assignee_email">
                    </TD>
                    <TD ALIGN="left"><INPUT TYPE="text" SIZE="15" id="mixer_name">
                    </TD>
                    <TD ALIGN="left"><INPUT TYPE="text" SIZE="15" id="mixer_email">
                    </TD>
                    <TD ALIGN="left"><INPUT TYPE="text" SIZE="15" id="bouncer_name">
                    </TD>
                    <TD ALIGN="left"><INPUT TYPE="text" SIZE="15" id="bouncer_email">
                    </TD>
                    <TD ALIGN="left"><textarea class="form-control" id="comments" rows="3"></textarea>
                    </TD>
                </tr>

            {% endfor %}
          </tbody>
        </table>

          <button id="updateTicketSubmit" type="submit" class="btn btn-success">Submit Update</button>

      </div>


      <div class="table-responsive">
        <h3>Multitracks in Ticket</h3>
        <table class="table">
          <thead>
                <th></th>
            {% for col in range(formatted_multitracks_headers|count) %}
                <th>{{ formatted_multitracks_headers[col] }}</th>
            {% endfor %}
                <th></th>
          </thead>
          <tbody>
            {% for row_index in range(multitracks['ticket_number']|count) %}
                <tr>
                    <td><a href="{{ multitracks["url"][row_index] }}">View Multitrack</a></td>
                  {% for col in range(multitracks_headers|count) %}
                    <td>{{ multitracks[multitracks_headers[col]][row_index] }}</td>
                  {% endfor %}
                    <td><a href="{{ multitracks["delete"][row_index] }}">Delete Multitrack</a></td>
                </tr>
            {% endfor %}
          </tbody>
        </table>
        <a class="btn btn-primary" href="{{ add_multitrack_url }}">Add Multitrack</a>
      </div>

      <div class="table-responsive">
        <h3>Ticket History</h3>
        <table class="table">
          <thead>
            {% for col in range(formatted_ticket_history_headers|count) %}
                <th>{{ formatted_ticket_history_headers[col] }}</th>
            {% endfor %}
          </thead>
          <tbody>
            {% for row_index in range(ticket_history['ticket_number']|count) %}
                <tr>
                  {% for col in range(ticket_history_headers|count) %}
                    <td>{{ ticket_history[ticket_history_headers[col]][row_index] }}</td>
                  {% endfor %}
                </tr>
            {% endfor %}
          </tbody>
        </table>

      </div>

{% endblock %}