<!-- Starts with the template -->
{% extends "template.html" %}

<!-- Fills in everything below in the empty space -->
{% block content %}
<h1 class="sub-header">All Tickets</h1>
      <div class="table-responsive">

        <table class="table">
          <thead>
            {% for col in range(names|count) %}
                <th>{{ names[col] }}</th>
            {% endfor %}
          </thead>
          <tbody>
            {% for row_index in range(tickets['ticket_number']|count) %}
                <tr>
                  {% for col in range(names|count) %}
                    <td>{{ tickets[names[col]][row_index] }}</td>
                  {% endfor %}
                </tr>
            {% endfor %}
          </tbody>
        </table>

      </div>

{% endblock %}