<!-- Starts with the template -->
{% extends "template.html" %}

<!-- Fills in everything below in the empty space -->
{% block content %}



<h1 class="sub-header">All Tickets</h1>

      <div class="table-responsive">

        <table class="table" id="tickets">
          <thead>
                <th></th>
            {% for col in range(formatted_tickets_headers|count) %}
                <th class="nm">{{ formatted_tickets_headers[col] }}</th>
            {% endfor %}
                <th></th>
          </thead>
          <tbody>
            {% for row_index in range(tickets['ticket_number']|count) %}
                <tr>
                    <td><a href="{{ tickets["url"][row_index] }}">View Ticket</a></td>
                  {% for col in range(tickets_headers|count) %}
                    <td>{{ tickets[tickets_headers[col]][row_index] }}</td>
                  {% endfor %}
                    <td><a href="{{ tickets["delete"][row_index] }}">Delete Ticket</a></td>
                </tr>
            {% endfor %}
          </tbody>
        </table>

      </div>

      <a class="btn btn-primary" href="/completedtickets">See Completed Tickets</a>

{% endblock %}